@model IEnumerable<MVCExample.Models.DeptEmp>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutGuest.cshtml";
}

<h2>Index</h2>
<table>
    <tr><th>EMPID</th><th>Empname</th><th>Deptname</th></tr>
   @foreach(var item in Model)
   {
       <tr><td>@Html.DisplayFor(a=>item.em.EmpId)</td><td>@Html.DisplayFor(a => item.em.EmpName)</td><td>@Html.DisplayFor(a => item.dep.Deptname)</td></tr>
   }


</table>


