
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        @ViewData["a"]
        <br />
        @ViewBag.a
        <br />
        @TempData["a"]
    </div>
</body>
</html>
