
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Services</title>
</head>
<body>
    <div> 
        <h1>Welcome in Services Page</h1>
        @Html.Partial("Index")
    </div>
</body>
</html>
